.footer {
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
  width: 100%;
  line-height: 40px;

  nav {
    display: inline-block;
  }

  a {
    padding: 0 0 0 27px;
  }

  :last-child {
    padding: 0 13px 0 27px;
  }

  .left-nav {
    float: left;
  }

  .right-nav {
    float: right;
  }
}