.search {
  text-align: center;
  margin-top: 200px;

  header {
    img {
      height: 92px;
      width: 272px;
    }
  }

  input {
    width: 550px;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 25px auto;
  }

  botton {
    background: #f2f2f2;
    line-height: 24px;
    padding: 5px 16px;
    margin: 11px 4px;
    border: none;
  }
}